#about {
    background: radial-gradient(circle at 96% 11%, #2C2C2C 0%, #1A1A1A 60%);
    padding: 0 10%;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.block {
    margin: 15px 15px;
    text-align: center;
    align-self: center;
    border: 1px solid #6E6E6E;
    border-radius: 5px;
    max-width: 250px;
    padding: 20px;
}
.block-text {
    text-align: left;
    font-size: 14px;
    color: #B5B5B5;
    font-weight: bold;
    line-height: 1.8;
}
.block img {
    width: 99px;
}


@media only screen and (min-width: 893px) {
    .title {
        font-size: 60px;
    }
    .block-text {
        font-size: 18px;
    }
    .block {
        height: fit-content;
        width: 35%;
    }
    .block h3 {
        font-size: 18px;
    }
    #about .bottom .orange#button::before {
        flex-flow: column nowrap;
        content: "R$ 5.000,00";
        color: white;
        position: absolute;
        margin: -40px 0 0 -38px;
        width: 80px;
        color: #B5B5B5;
    }
    #about .flex-container {
        height: 900px;
    }
    #about {
        height: 1000px;
    }
}


@media only screen and (min-width: 1050px) {
    #about .flex-container {
        height: 700px;
    }
    #about {
        height: 100vh;
    }  
}