.carousel {
    display: flex;
    align-items: center;
    background-image: url("../assets/opinion@2x.png");
    background-position: center;
    background-size: cover;
    padding: 60px 5%;
}

.quotes-container {
    font-size: 40.5px;
    text-align: center;
    color: white;
    padding: 50px 0;
}

.quotes-subtitle {
    text-align: center;
}

.slick-next.slick-arrow, .slick-prev.slick-arrow {
    display: none !important;
}


@media only screen and (min-width: 893px) {
    .carousel.slick-initialized.slick-slider {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .slick-next.slick-arrow, .slick-prev.slick-arrow {
        display: inline-block !important;
    }
    
    .slick-next.slick-arrow {
        background-color: transparent;
        background-image: url("../assets/arrow-right.png");
        background-size: 50px 50px;
        background-position: center;
        height: 50px;
        width: 350px;
        border: none;
        box-sizing: border-box;
        font-size: 0;
    }
    
    .slick-prev.slick-arrow {
        background-color: transparent;
        background-image: url("../assets/arrow-left.png");
        background-size: 50px 50px;
        background-position: center;
        height: 50px;
        width: 350px;
        border: none;
        box-sizing: border-box;
        font-size: 0;
    }
    .carousel {
        min-height: 100vh;
    }
    .quotes-subtitle {
        text-align: right;
        padding: 0 100px;
    }
    .carousel h3 {
        font-size: 25px;
    }
    .quotes-container {
        font-size: 55px;
        text-align: center;
        color: white;
        padding: 100px 100px;
    }
}


