* {
    margin: 0;
}
body {
    margin: 0;
    font-family: 'Yantramanav', sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
    height: fit-content;
}

h1 {
    color: #F89D24;
    font-size: 38px;
    text-transform: uppercase;
}
h2 {
    font-size: 18px;
    font-weight: 300;
    color: #B5B5B5;
    line-height: 1.8;
}
h3 {
    color: #F89D24;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    margin-bottom: 0;
}

.title {
    position: relative;
    text-align: left;
    font-size: calc(40px + 2vw);
    color: white;
    width: 250px;
    padding-top: 45px;
}

#button {
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    padding: 18px 10px;
    border-radius: 5px;
    width: 169px;
    box-sizing: border-box;
    text-align: center;
    margin: 15px 0;
}
.orange {
    background-color: #F89D24;
    border: 0;
}
.orange:hover {
    background-color: #976320;
}
.black:hover {
    background-color: #333333;
}
.black {
    background-color: transparent;
    border: 1px solid white;
}

.square {
    position: absolute;
    left: 5%;
    border: 1px solid #FEC024;
    border-top: 0;
    width: 110px;
    height: 110px;
    content: "";
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    margin: 0;
}
.left, .right, .bottom {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.right {
    justify-content: center;
    max-width: 700px;
    margin: 20px auto;
}
.bottom {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-self: center;
    min-height: fit-content;
    max-height: 170px;
    max-width: 390px;
    margin: 0 auto;
}
.intro, .teacher, .about, .methods {
    background: radial-gradient(circle at 96% 11%, #2C2C2C, #1A1A1A);
}


@media only screen and (min-width: 893px) {
    h2 {
        font-size: 18px;
    }
    .square {
        width: 205px;
        height: 205px;
        left: 10%;
    }
    .methods .flex-container {
        height: 700px;
    }
    .methods .flex-container, .about .flex-container {
        flex-flow: column wrap;
        width: 100%;
        max-width: 1200px;
        align-self: center;
        justify-content: space-around;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    .left {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        order: 0;
        flex-grow: 1;
        width: 30%;
        max-width: 400px;
    }
    .right {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        order: 2;
        width: 70%;
    }
    .bottom {
        order: 1;
        flex-grow: 1;
        width: 40%;
    }

}