#persona {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background: url("../assets/negociando@2x.png");
    background-color: #0C0C0C;
    background-position: left;
    background-size: cover;
    padding: 0 5% 50px 5%;
}


@media only screen and (min-width: 893px) {
    #persona {
        background: url("../assets/negociando@2x.png") left / 65% 100%,
                    radial-gradient(circle at 96% 11%, #2C2C2C 0%, #1A1A1A 70%) right / 48% 100%,
                    rgba(26, 26, 26, 1);
        background-repeat: no-repeat;
        background-blend-mode: luminosity, normal;
        background-origin: padding-box;
        border-top: 25px solid #0C0C0C;
        border-bottom: 25px solid #0C0C0C;
        height: 100vh;
        align-content: right;
        box-sizing: border-box;
    }
    #persona .square {
        left: auto;
        right: 5%;
    }
    #persona .flex-container {
        align-self: right;
        flex-flow: column nowrap;
        align-items: flex-end;
        justify-content: space-around;
    }
    #persona .title, #persona .desc, #persona .bottom {
        width: 40%;
        margin: 0;
        align-self: flex-end;
    }
    #persona .bottom {
        min-width: 40%;
        justify-content: center;
    }
    #persona #button {
        margin: 14px;
    }
}
