#quotes {
    background-image: url("../assets/opinion@2x.png");
    background-position: center;
    background-size: cover;
    padding: 60px 5%;
}

.quotes-container {
    font-size: 40.5px;
    text-align: center;
    color: white;
}

.quotes-subtitle {
    text-align: center;
}

@media only screen and (min-width: 893px) {
    .quotes-subtitle {
        text-align: right;
    }
}